```{=html}
<div class="research">
<ul class="research-cards">
    <% for (const item of items) { %>
        <li class="research-card" <%=metadataAttrs(item) %>>
            <div class="research-card-thumb">
                <% if (item.image) { %>
                    <img src="<%- item.image %>" alt="">
                <% } else { %>
                    <div class="research-card-placeholder">
                        <%= item.categories ? item.categories[0] : 'Research' %>
                    </div>
                <% } %>
            </div>

            <div class="research-card-body">
                <div class="research-card-citation">
                    <p><%- item['pub-info'].reference %></p>
                </div>

                <% if(item.categories) { %>
                <div class="research-card-categories">
                    <% for (const cat of item.categories) { %>
                        <span class="research-card-pill"><a href="#category=<%= cat %>"><%= cat %></a></span>
                    <% } %>
                </div>
                <% } %>

                <% if (item.soundtrack || item.coffee) { %>
                <div class="research-card-pairings">
                    <% if (item.soundtrack) { %>
                    <span class="research-card-pairing">
                        <i class="fa-solid fa-music"></i>
                        <% if (item.soundtrack.url) { %>
                        <a href="<%- item.soundtrack.url %>" target="_blank" rel="noopener"><%= item.soundtrack.song %></a>
                        <% } else { %>
                        <%= item.soundtrack.song %>
                        <% } %>
                    </span>
                    <% } %>
                    <% if (item.coffee) { %>
                    <span class="research-card-pairing">
                        <i class="fa-solid fa-mug-hot"></i>
                        <%= item.coffee.drink %>
                    </span>
                    <% } %>
                </div>
                <% } %>

                <ul class="research-card-links">
                    <li class="research-card-link research-card-link-details">
                        <a href="<%- item.path %>" class="listing-name">
                            <i class="fa-solid fa-circle-info"></i> Details
                        </a>
                    </li>
                    <% if (item['pub-info'].links) { %>
                        <% for (const link of item['pub-info'].links) { %>
                    <li class="research-card-link">
                        <% if (link.local) { %>
                        <a href="<%- item.path.substring(0, item.path.lastIndexOf('/')) %>/<%- link.url %>">
                        <% } else { %>
                        <a href="<%- link.url %>">
                        <% } %>
                            <i class="<%- link.icon %>"></i> <%= link.name %>
                        </a>
                    </li>
                        <% } %>
                    <% } %>
                </ul>
            </div>
        </li>
    <% } %>
</ul>
</div>
```
